name: Docker (Strapi)

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  docker:
    uses: finki-hub/.github/.github/workflows/docker.yaml@main
    with:
      dockerfile: ./api/Dockerfile.prod
      context: ./api
      package-name: echo-discord-bot-strapi
    secrets: inherit
